.click-mobile {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  background-color: #fff;
  width: 75%;
  height: 200px;
}

@media (min-width: 576px) {
  .click-mobile {
    display: none;
  }
}
